
body{
    background-color: rgba(241, 241, 241, 0.921);
}
.deco{
    text-decoration: none;
    color: white;
    background-color: #E7272D;
    padding: 8px;
    border-radius: 5px;
    border: none;

}
.deco:hover{
    background-color: #E7272D;
}
.taille{
    width: 400px;
}
.formule{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding-top: 10px;
    margin: auto; 
}
.info{
    border: 1px solid rgb(169, 169, 169);

}
/* css footer */
.footer{
    background-color: black;
    height: 200px;
    width: 100%;
}
.blan{
    color: white;
}

.droits{
    color: rgb(145, 145, 145);
}
.logo{
    
        width: 100px;
        height: 80px;
   
}

.btn{
    border: none;
}
.Envoyer{
    background-color: #E7272D;
    padding: 10px;
    margin-bottom: 30px;
}
.telephone{
    background-color: rgb(164, 161, 161);
   border-radius: 50px;
   padding: 10px;
}
.decoCont{
    text-decoration: none;
}