<div class="container">
  <div class="row justify-content-around align-items-center m-auto ">
      <div class="col-md-6 col-sm-12 pt-5">
          <div class="">
          <div class="d-flex ">
              <div class="m-2"><i class="fa-solid fa-phone telephone"></i></div>
              <div>
                  <p><a href="" class="decoCont">Telephone</a> </p>
                  <p>782623868</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="m-2"><i class="fa-solid fa-location-dot telephone"></i></div>
              <div>
                  <p><a href="" class="decoCont"> Localisation</a></p>
                  <p>Mermoz</p>
              </div>
            </div>
            <div class="d-flex">
              <div class="m-2"><i class="fa-solid fa-envelope telephone"></i></div>
              <div>
                  <p><a href="" class="decoCont"> Email</a></p>
                  <p>terangafood@gmail.com</p>
              </div>
            </div>
          </div>

      </div>
      <div class="col-md-6 col-sm-12 pt-5">
          <form class="d-flex justify-content-center align-items-center m-auto formule">
            
              <div class="mb-3">
                
                <p class="text-center">Prenom</p>
                <input type="text" class="form-control taille"  aria-describedby="emailHelp">
               
              </div>
              
              <div class="mb-3">
                  <p class="text-center">Nom</p>
               
                <input type="text" class="form-control taille" >
              </div>
              <div class="mb-3">
                  <p class="text-center">Email</p>
                  
                  <input type="email" class="form-control taille" id="exampleInputPassword1">
                </div>
                <div>
                <button class="btn Envoyer"> Envoyer</button></div>
             
            </form>
      </div>
  </div>
</div>
<footer class="container-fluid footer pt-5 mt-5 w-100 m-0">
  <div class="row">
      <div class="col-md-4">
          <img src="../assets/Image/logo1.png" alt="" class="logo ">
      </div>
      <div class="col-md-4">
          <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
          <p class=" blan text-center">Email : terrangafood@gmail.com</p>
          <div class="d-flex  justify-content-center align-items-center ">
              <i class="fa-brands fa-facebook m-2 blan"></i>
              <i class="fa-brands fa-instagram m-2 blan"></i>
              <i class="fa-brands fa-twitter m-2 blan"></i>

          </div>
          <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
      </div>

    </div>

</footer>

