<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg baisse  d-flex  justify-content-around align-items-center m-auto">
        <div class="container-fluid lg  groupe">
            <a class="navbar-brand" href="#">
                <img src="../assets/Image/logo.png" alt="" class="img-fluid logo">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav  mb-2 mb-lg-0 ms-6 groupeNav">
                    <li class="nav-item">
                        <a class="nav-link active me-5" aria-current="page" href="accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5" href="reservation">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5" href="menu">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-5" href="contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link login me-5"  href="login">Se connecter</a>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link me-5" ><i class="fa-solid fa-cart-shopping"></i></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    
</body>
</html>