
/* #E7272D */

/* .baiss{
    background-color: white;

} */
.logo{
    width: 100px;
    height: 80px;
}

.groupeNav{
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    color: aliceblue;

}  
.nav-link{
    color: black;
}
.login{
    color: #E7272D;
} 
.nav-link:hover{
    color: #E7272D;
}

 /* body{
    background-color: rgba(241, 241, 241, 0.921);
}  */
.sect1{
    height: 450px;
    width: 100%;
    /* background-position: center;
    background-size: cover; */
} 
.bordure{
    border: 1px solid #E7272D;
    width: 100px;
    align-items: center;
    margin: auto;
   
}
.btn-primary{
    background-color: #E7272D;
    border: none;
    border-radius: none;
}
.rond{
    width: 150px;
    height: 150px;
}
.footer{
    background-color: black;
    height: 200px;
    width: 100%;
}
.logo{
    height: 100px;
    height: 100px;
}
.blan{
    color: white;
}
.droits{
    color: rgb(145, 145, 145);
}

    

@media  screen and (max-width:768px) {
    .footer{
        height: 300px;
     }
    
}
