<div class="container-fluid reservation">
    <div class=" pt-5">
    <h1 class="text-center text-white fw-bold">Reservation</h1>
    <div>
        <div class="mb-3 d-flex justify-content-center align-items-center ">
            
            <input type="number" class=" large m-3"  placeholder="Nombres de personnes">
            <input type="date" class=" large m-3"  placeholder="Date prevue">
          </div>
          <div class="mb-3 d-flex justify-content-center align-items-center">
            <input type="number" class=" large m-3"  placeholder="numero de telephone">
            <input type="time" class=" large m-3"  placeholder="heure prevue">
          </div>
         
    </div>
</div>

</div>
<!-- section footer -->
<footer class="container-fluid footer pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../assets/Image/logo1.png" alt="" class="logo ">
        </div>
        <div class="col-md-4">
            <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
            <p class=" blan text-center">Email : terrangafood@gmail.com</p>
            <div class="d-flex  justify-content-center align-items-center ">
                <i class="fa-brands fa-facebook m-2 blan"></i>
                <i class="fa-brands fa-instagram m-2 blan"></i>
                <i class="fa-brands fa-twitter m-2 blan"></i>

            </div>
            <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
        </div>

      </div>

</footer>

