<!-- <p>pizza works!</p> -->

<div class="container-fluid">
    <main class="main">
        <div class="class row justify-content-center  m-auto">
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5 " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5 " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5 " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5 " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5  " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            <div class="col-md-4 col-sm-12 mt-5">
                <div class="Momcard  m-auto" >
                    <!-- style="width: 16rem; height: 250px;" -->
                    <img src="../assets/Image/tac3.jpg" class="imgcard p-5 " alt="..."> 
                    
                     <div class="partbody text-center mb-5">
                        <p class="textcart ">Tacos</p>
                        <div class="bordures"></div>
                        <p>2000FCFA</p>
                       
                           <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                                panier</button>
                       
                    </div> 
                </div>
            </div>
            
        </div>
    
    </main>
    </div>
    <!-- section footer -->
    <footer class="container-fluid footer pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../assets/Image/logo1.png" alt="" class="logo ">
        </div>
        <div class="col-md-4">
            <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
            <p class=" blan text-center">Email : terrangafood@gmail.com</p>
            <div class="d-flex  justify-content-center align-items-center ">
                <i class="fa-brands fa-facebook m-2 blan"></i>
                <i class="fa-brands fa-instagram m-2 blan"></i>
                <i class="fa-brands fa-twitter m-2 blan"></i>
    
            </div>
            <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
        </div>
    
      </div>
    
    </footer>
    
