/* rgba(241, 241, 241, 0.921); */
.body{
    background-color:rgba(241, 241, 241, 0.921); 
}

.deco{
    text-decoration: none;
    color: white;
    background-color: #E7272D;
    padding: 8px;
    border-radius: 5px;
    border: none;

}
.btn{
    border: none;
}
.compte{
    text-decoration: none;
    color: rgb(60, 60, 60);
  
}
.taille{
    width: 400px;
}
.formule{
     background-color: white; 
     width: 500px;
    display: flex;
    margin:auto !important;
    flex-direction: column;
   
}
/* css footer */
.footer{
    background-color: black;
    height: 200px;
    width: 100%;
}
.blan{
    color: white;
}

.droits{
    color: rgb(145, 145, 145);
}
.logo{
    
        width: 100px;
        height: 80px;
   
}