<div class="container-fluid pt-5">
<form class="d-flex justify-content-center align-items-center m-auto formule" #signupForm=ngForm (ngSubmit)="onSubmit()">
  <div class="alert alert-danger" [hidden]="!error">
    {{error}}
    </div> 
  <img src="../assets/Image/logo.png" alt="">
  <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Nom complet </label>
      <input type="text" class="form-control taille" name="name" [(ngModel)]="form.name" required>
      
    </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email </label>
    <input type="email" class="form-control taille" name="email" [(ngModel)]="form.email" required>
    
  </div>
  
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">mot de pass</label>
    <input type="password" class="form-control taille" name="password"   [(ngModel)]="form.password" required>
  </div>
  <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"> Comfirmation mot de pass</label>
      <input type="password" class="form-control taille " name="password_confirmation" [(ngModel)]="form.password_confirmation" required>>
    </div>
 <div class="">
    <!-- <a href="#" class="m-2 compte">Vous avez deja un compte </a> -->
  <button type="submit" class="btn  m-2"  [disabled]="!signupForm.valid">  
      <a href="#" routerLink="/login" class="deco">S'inscrire</a></button></div>
</form>
</div>
<footer class="container-fluid footer pt-10">
  <div class="row">
      <div class="col-md-4">
          <img src="../assets/Image/logo1.png" alt="" class="logo ">
      </div>
      <div class="col-md-4">
          <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
          <p class=" blan text-center">Email : terrangafood@gmail.com</p>
          <div class="d-flex  justify-content-center align-items-center ">
              <i class="fa-brands fa-facebook m-2 blan"></i>
              <i class="fa-brands fa-instagram m-2 blan"></i>
              <i class="fa-brands fa-twitter m-2 blan"></i>

          </div>
          <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
      </div>

    </div>
 
  

</footer>