<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="">
    <div class="container-fluid">
        <div class="row flex-nomwrap">
        <div class=" bg-dark col-auto col-md-2 min-vh-100">
        <div class="bg-dark ">
            <a href="d-flex text-decoration-none align-items-center"></a>
            <p class="fs-4 d-done d-sm-inline">sideMenu</p>
            <ul class="nav nav-pills flex-column mt-2">
               <li class="nav-item"> <a href="#" class="nav-link text-white">
                <span class="fs-4">Link</span> </a>
            </li>
                
            <li class="nav-item"> <a href="#" class="nav-link text-white">
                <span class="fs-5">Link</span> </a>
            </li>
            <li class="nav-item"> <a href="#" class="nav-link text-white">
                <span class="fs-5">Link</span> </a>
            </li>
            <li class="nav-item"> <a href="#" class="nav-link text-white">
                <span class="fs-5">Link</span> </a>
            </li>
                
            </ul>
        </div>
    
    </div>
</div>
</div>
    
</body>
</html>
