<div class="container-fluid d-flex pt-5">
    <div>
        <div  class="d-flex ">
        <input type="text" class="mb-2 INPUT">
        <i class="fa-solid fa-magnifying-glass"></i></div>
<div class="sidebar  ">
<p class="fs-4 d-done d-sm-inline text-black p-3 fw-bold">Catégories</p> 
    <ul class="nav nav-pills flex-column mt-2">
       <li class="nav-item"> <a   routerLink="/pizza" class="nav-link text-black  p-3 fw-bold">
        <span class="fs-6 ">Pizzas</span> </a>
    </li>
        
    <li class="nav-item"> <a href="#" routerLink="/baguettes"  class="nav-link text-black  p-3 fw-bold p-4" >
        <span class="fs-6">Burger</span> </a>
    </li>
    <li class="nav-item"> <a href="#" routerLink="/tacos" class="nav-link text-black  p-4 fw-bold">
        <span class="fs-6">Tacos</span> </a>
    </li>
    <li class="nav-item"> <a href="#" routerLink="/jusnaturel" class="nav-link text-black  p-4 fw-bold">
        <span class="fs-6">JusNaturel</span> </a>
    </li>
    <li class="nav-item"> <a href="#" routerLink="/chinesse"  class="nav-link text-black  p-4 fw-bold">
        <span class="fs-6">Chinesse</span> </a>
    
    </li>
    <li class="nav-item"> <a href="#" routerLink="/platsenegalais" class="nav-link text-black  p-4 fw-bold">
        <span class="fs-6">Senegal</span> </a>
    </li>
        
    </ul>
</div>
</div>


<main class="main">
<div class="class row justify-content-center  m-auto">
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/img6.png" class="imgcard p-5 " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Poulet pané</p>
                <div class="bordures"></div>
                
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/p1.png" class="imgcard p-5 " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
           <a  routerLink="/baguettes"> <img src="../assets/Image/bur1.png" class="imgcard p-5 " alt="..."> </a>
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
           <a  routerLink="/baguettes"> <img src="../assets/Image/bur1.png" class="imgcard p-5 " alt="..."> </a>
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/img2.png" class="imgcard p-5 " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/img2.png" class="imgcard p-5  " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/img2.png" class="imgcard p-5  " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    <div class="col-md-3 col-sm-12 mt-5">
        <div class="Momcard  m-auto" >
            <!-- style="width: 16rem; height: 250px;" -->
            <img src="../assets/Image/img2.png" class="imgcard p-5 " alt="..."> 
            
             <div class="partbody text-center mb-5">
                <p class="textcart ">Frite</p>
                <div class="bordures"></div>
                <p>2000FCFA</p>
               
                   <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                        panier</button>
               
            </div> 
        </div>
    </div>
    
</div>

</main>
</div>
<!-- section footer -->
<footer class="container-fluid footer pt-5 mt-5">
<div class="row">
<div class="col-md-4">
    <img src="../assets/Image/logo1.png" alt="" class="logo ">
</div>
<div class="col-md-4">
    <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
    <p class=" blan text-center">Email : terrangafood@gmail.com</p>
    <div class="d-flex  justify-content-center align-items-center ">
        <i class="fa-brands fa-facebook m-2 blan"></i>
        <i class="fa-brands fa-instagram m-2 blan"></i>
        <i class="fa-brands fa-twitter m-2 blan"></i>

    </div>
    <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
</div>

</div>

</footer>
