<div class="container-fluid ">
    <img src="../assets/Image/accueil.png" alt="" class="img-fluid  sect1">
</div>
<div class="container pt-5">
    <h1 class="text-center fs-4">TOP 3 PRODUITS</h1>
    <div class="class row justify-content-center align-items-center m-auto">
        <div class="col-md-4 col-sm-12 mt-5">
            <div class="card  m-auto" style="width: 16rem; height: 400px;">
                <img src="../assets/Image/img2.png" class="card-img-top p-5" alt="...">
                <div class="card-body text-center mb-5">
                    <p class="card-text">Frite</p>
                    <div class="bordure"></div>
                    <p>2000FCFA</p>
                    <div>
                    
                        <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                            panier</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
            <div class="card m-auto" style="width: 16rem ; height: 400px;">
                <img src="../assets/Image/img2.png" class="card-img-top p-5" alt="...">
                <div class="card-body text-center mb-5">
                    <p class="card-text">Frite</p>
                    <div class="bordure"></div>
                    <p>2000FCFA</p>
                    <div>
                        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
                        <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                            panier</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 mt-5">
            <div class="card m-auto" style="width: 16rem;  height: 400px;">
                <img src="../assets/Image/img2.png" class="card-img-top p-5" alt="...">
                <div class="card-body text-center mb-5">
                    <p class="card-text">Frite</p>
                    <div class="bordure"></div>
                    <p>2000FCFA</p>
                    <div>
                        <!-- <i class="fa-solid fa-cart-shopping"></i> -->
                        <button class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i>Ajouter au
                            panier</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="container pt-5">
    <h1 class="text-center pt-5">MENU DU JOUR</h1>
    <div class="row  pt-5">
        <div class="col-md-4 col-sm-12   mb-2 d-flex justify-content-center align-items-center m-auto ">
            <img src="../assets/Image/img5.png" alt="" class="rond  align-items-center m-auto">
        </div>
        <div class="col-md-4 col-sm-12 mb-2  d-flex justify-content-center align-items-center m-auto ">
            <img src="../assets/Image/img4.png" alt="" class="rond align-items-center m-auto">
        </div>
        <div class="col-md-4 col-sm-12 mb-2  d-flex justify-content-center align-items-center m-auto ">
            <img src="../assets/Image/img4.png" alt="" class="rond">
        </div>
    </div>

</div>
<footer class="container-fluid footer pt-5">
    <div class="row">
        <div class="col-md-4">
            <img src="../assets/Image/logo1.png" alt="" class="logo ">
        </div>
        <div class="col-md-4">
            <p class="blan text-center">Appelez nous pour reserver : 33 459 21 09</p>
            <p class=" blan text-center">Email : terrangafood@gmail.com</p>
            <div class="d-flex  justify-content-center align-items-center ">
                <i class="fa-brands fa-facebook m-2 blan"></i>
                <i class="fa-brands fa-instagram m-2 blan"></i>
                <i class="fa-brands fa-twitter m-2 blan"></i>

            </div>
            <p class="text-center droits">Touts droits reservés | BY Terranga Food</p>
        </div>



    </div>

</footer>